@layer components {
  .case-card {
    --card-arrow-depth: 4rem;
    border-radius: 0;
    clip-path: polygon(
      0 0,
      calc(100% - var(--card-arrow-depth)) 0,
      100% 50%,
      calc(100% - var(--card-arrow-depth)) 100%,
      0 100%
    );
    @apply pr-32 transition-transform duration-300 ease-out bg-white;

    h3 {
      @apply text-zinc-700;
    }

    p:not(.eyebrow) {
      @apply text-zinc-600;
    }
  }

  .info-card {
    --info-card-tilt: 4rem;
    @apply border border-primary/10;
    border-radius: 0;
    clip-path: polygon(0 var(--info-card-tilt), 100% 0, 100% calc(100% - var(--info-card-tilt)), 0 100%);
    @apply h-full flex flex-col gap-2 justify-start;
    @apply bg-white/80 -mb-12 p-8 py-16 transition hover:translate-x-2;

    &--stacked {
      margin-bottom: 0;
    }

    >.eyebrow,
    >h3 {
      @apply block text-right;
    }
  }

  .select-wrapper {
    @apply bg-white pr-3 border rounded focus-within:ring-2 focus-within:ring-electric;

    .select {
      @apply px-3 py-2 text-sm w-full focus:outline-none;
    }
  }

  .tab {
    @apply text-sm px-4 py-2 border-b-2 md:border-l-2 border-transparent hover:text-accent focus:outline-none;

    &-headers {
      @apply flex flex-wrap border-b md:flex-col md:border-b-0 overflow-x-auto md:overflow-visible w-full md:w-1/4;
    }

    &-button {
      @apply px-4 py-4 m-2 md:min-h-[100px] bg-white border-b-4 md:border-b-0 md:border-r-4 hover:text-primary-medium focus:outline-none;

      &-active {
        @apply border-accent text-accent font-semibold;
      }

      &-inactive {
        @apply border-transparent text-zinc-600;
      }
    }

    &-logo {
      @apply mr-2 inline object-cover;
    }
  }

  .tab-chip {
    @apply text-sm whitespace-nowrap px-4 py-2 rounded-t border-b-2;
  }

  .tab-chip-active {
    @apply border-accent text-accent font-semibold;
  }

  .tab-chip-inactive {
    @apply border-transparent text-zinc-600;
  }
}
