@layer components {
  .link-accent {
    @apply underline decoration-2 decoration-accent/40;
    @apply text-accent;
    @apply transition-colors;

    &:hover,
    &:focus-visible {
      @apply text-accent-light;
    }
  }

  .link-accent-inverse {
    @apply underline decoration-2 decoration-white/60;
    @apply text-white;
    @apply transition-colors;

    &:hover,
    &:focus-visible {
      @apply text-electric-light;
    }
  }
}
