<header class="code-bg">
  <div class="p-4">
    <nav class="max-w-5xl mx-auto flex justify-between items-center text-white">
      <a href="/" class="font-heading font-bold text-xl">BC Web Studio</a>
      <div class="flex flex-wrap gap-4 text-sm font-heading font-medium tracking-wide">
        <a href="/" class="hover:underline">Home</a>
        <a href="/for-agencies/" class="hover:underline">For Agencies</a>
        <a href="/for-small-businesses/" class="hover:underline">For Small Businesses</a>
        <a href="/case-studies/" class="hover:underline">Case Studies</a>
        <a href="/about/" class="hover:underline">About</a>
      </div>
    </nav>
  </div>
</header>
