@use "./partials/fonts";
@use "./partials/base";
@use "./partials/cards";
@use "./partials/filters";
@use "./partials/project-library";
@use "./partials/case-hero";
@use "./partials/hero";
@use "./partials/links";
@use "./partials/theme";

@tailwind base;
@tailwind components;
@tailwind utilities;
